[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
beautifulsoup4 = "*"
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
flake8 = "*"

[requires]
python_version = "3.8"
